*{
    margin:0;
    font-family:arial;
    box-sizing:border-box; 

}
.nav-bar{
    background-color:#0f1111;
    height:60px;
    display:flex;
    justify-content:space-evenly;
}
.logo{
    background-image:url("Amazon pictures/amazon_logo.png");
    height:50px;
    width:100px;
    background-size:cover;
}
.address{
    color:white;
    justify-content:center;
    align-items:center;
    padding-top:10px;
    margin-right:10px;
    
}
.address-icon {
    display:flex;
    
}

.add-first{
    color:#cccccc;
    font-size:1rem;
    margin-left:16px;
    
}
.add-second{
    color:#ffffff;
    margin-left:3px;
    display:flex;
}

.border:hover
{
    border: 2px solid white;
}
.nav-search
{
    display:flex;
    /* justify-content:space-evenly; */
    background-color:pink;
    width:620px;
    height:40px;
    border-radius:4px;
}
.search-select{
    background-color:#f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:5px;
    border:none;
    
}
.search-icon
{
 width:45px;
 display:flex;
 justify-content:center;
 align-items:center;
 font-size:1.2rem;
 background-color:#febd68;
 border-top-right-radius:4px;
 border-bottom-right-radius:5px;
}
.search-input{
    width:555px;
    font-size:1rem;
    border:none;

}
